.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
}

.item{
    background-color: aqua;
    margin: 5px;
}

.flexContainer{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    max-width: 600px;
    /*justify-content:space-evenly;*/
}

.flex-item{
    background:blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.row {
    flex-direction:row;/*organiza por linha em ordem crescente*/
}
.row-reverse{
    flex-direction:row-reverse; /* organiza por linha em ordem decrescente*/
    flex-wrap: wrap; /*quebra da linha*/
    /* flex-flow pode ser usado para ambos*/

}
.row-reverse li{
    background:red;
}

.column{
    flex-direction:column; /* vertical e em ordem crescente */
    float: right;

}

.column-reverse li{
    background-color: orange;
    
}

.column-reverse{
    flex-direction:column-reverse; /* vertical e em ordem decrescente*/
}