.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
}

.item{
    background-color: aqua;
    margin: 5px;
}

.flexContainer{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    max-width: 600px;
    border: 1px solid black;
    /*justify-content:space-evenly;*/
}

.flex-item{
    background:blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.row {
    flex-direction:row;
}
.row-reverse{
    flex-direction:row-reverse;
}
.row-reverse li{
    background:red;
}

.column{
    flex-direction:column;
}